{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
            {{ content }}
        </div>
    </div>
</div>

<!-- hitwebcounter Code START -->
<a href="http://www.hitwebcounter.com/" target="_blank">
<img src="http://hitwebcounter.com/counter/counter.php?page=6013407&style=0049&nbdigits=5&type=page&initCount=0" title="m" Alt="m"   border="0" >
</a><br/>
<!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com/counterresources.php" title="Visits Total" 
target="_blank" style="font-family: Arial, Helvetica, sans-serif; 
font-size: 11px; color: #9C9E94; text-decoration: none ;"><strong>Visits Total</strong>
</a>   

{% include footer.html %}
